.signup_main_window .form_area .switch_signup{
    color: gray;
    font-size: 1rem;
    margin: auto;
}

.signup_main_window .form_area .forgot_password{
    color: gray;
    font-size: 0.9rem;
    margin-top: -15px;
    text-decoration: underline;
    cursor: pointer;
    color: #793aea;
}

.signup_main_window .form_area .form_btn{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}