.self_chat_body{
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: auto auto;
    width: fit-content;
    max-width: 350px;
    height: fit-content;
    margin-left: auto;
    position: relative;
}

.self_chat_body .msg_options{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #2b234bfd;
    box-shadow: 0px 0px 8px 0px rgba(211, 211, 211, 0.5);
    border-radius: 8px;
    height: fit-content;
    bottom: 100%;
    right: 0;
    margin-right: 25%;
    width: 200px;
    padding: 5px;
    overflow: auto;
    animation: 0.2s msg_opt_apper_anim;
}
@keyframes msg_opt_apper_anim {
    0% {max-height: 0;}
    100% {max-height: 100%;}
}
.self_chat_body .msg_options .opt{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.2s;
    border-radius: 3px;
    &:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.self_chat_body .msg_options .opt .icon{
    margin-left: auto;
}

.self_chat_body .msg_holder{
    background-color: #2b234b;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    padding: 15px;
    height: fit-content;
    width: fit-content;
    word-break: break-word;
}
.self_chat_body .msg_holder .msg{
    white-space: pre-line;
    user-select: text;
}
.self_chat_body .msg_holder .img_msg{
    width: 100%;
}
.self_chat_body .msg_holder .img_warn{
    font-size: 0.8rem;
    color: lightgray;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 3px;
}

.self_chat_body .pfp_holder{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-top: -15px;
}
.self_chat_body .pfp_holder img{
    width: 50px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50px;
}
.self_chat_body .pfp_holder .msg_time{
    color: #c9c9c9;
    font-size: 0.9rem;
    white-space: nowrap;
}