body {
  overflow: hidden;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left bottom, #6b00a4, #7001b4, #7404c5, #7809d6, #7a0fe7, #760cdf, #730ad6, #6f07ce, #6300ab, #55008a, #46006b, #36004e);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track{
    background-color: #5647814d;
}
::-webkit-scrollbar-thumb{
    background-color: #564781;
}

.glass{
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  /* box-shadow: 0px 0px 3px 0px gray; */
  box-shadow: 0px 0px 2px 1px #a8a6c9;
  backdrop-filter: blur(5px);
}

.glass-light{
  border-radius: 15px;
  background-color: rgba(219, 219, 219, 0.05);
  box-shadow: 0px 0px 2px 1px #a8a6c9;
  backdrop-filter: blur(5px);
}

.form_entry{
  background-color: transparent;
  border: 1px solid #525264;
  padding: 10px 8px 10px 8px;
  border-radius: 6px;
  font-size: 1.06rem;
  font-weight: 500;
  color: white;
  outline: none;
  &:focus{
    box-shadow: 0px 0px 0px 2px #615fc9;
  }
}

.form_btn{
  background: linear-gradient(to right, #ba85f3, #ac73f1, #9d60ee, #8c4eec, #793aea);
  padding: 15px 0px 15px 0px;
  font-size: 1.1rem;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
