.home_main_body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home_main_body .home_content{
    display: flex;
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 650px) {
    .home_main_body .home_content{
        width: 99%;
        height: 99%;
    }
}